    @model Category

@{
    string action = ViewBag.Action ?? string.Empty;  //for partial view, if no view then empty
}

    <form method="post" asp-controller="categories" asp-action="@action">
    
    @if (action?.ToLower() == "edit")
    {
        <input type="hidden" asp-for="CategoryId" />
    }

    @* for displaying error *@
    <div class="tet-danger" asp-validation-summary="All"></div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Name" class="col-form-label">Name</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        @* for displaying error *@
        <div class="col">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Description" class="col-form-label">Description</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Description" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="col-6">
        </div>
    </div>
    </form>